# Data Collections 2 (Dictionaries, Sets) and Importing Modules

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Frozen Set <br>
3) Modules <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing Entire Modules <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Importing Methods Only <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Using the 'as' Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Creating a Module <br>
4) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Build a Shopping Cart <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Create Your Own Module <br>

## Tuples (pronounced two-ple) <br>
<p>A collection of data that is write-protected</p>

In [2]:
my_tuple = (41, 42, 30, 4456, 534)

In [3]:
my_tuple[3]

4456

In [4]:
for i in my_tuple:
    print(i)

41
42
30
4456
534

In [7]:
# dir(my_tuple)
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [13]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

matrix[1] = [9, 8, 7]

In [14]:
matrix

[[1, 2, 3], [9, 8, 7], [7, 8, 9]]

In [18]:
matrix = [
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
]

matrix[1] = (3, 4, 5)

In [22]:
matrix[1][2] = 4

TypeError: 'tuple' object does not support item assignment

In [25]:
matrix[1].count(4)

1

In [27]:
matrix

[(1, 2, 3), (3, 4, 5), (7, 8, 9)]

In [29]:
matrix[1].index(5)

2

In [31]:
# Add a number to a tuple

tuple1 = (1, 2, 3)
tuple1 = (6, 7, 8)

In [32]:
tuple1

(6, 7, 8)

In [ ]:
list
str
tuple
dict
set

In [35]:
my_tuple_list = list(tuple1)
my_tuple_list.append(6)

In [37]:
tuple(my_tuple_list)

(6, 7, 8, 6)

In [40]:
tuple2 = (1, 2, 3, 4, 5, 6, 7)

In [42]:
type(tuple2)

tuple

## Dictionary <br>
<p>A collection of data with 'key:value' pairs</p>

In [ ]:
# hashmaps => dictionaries

##### Declaring (key, value)

In [43]:
my_info = {
    'first_name': 'Derek',
    'last_name': 'Hawkins',
    'age': 33
}

##### Accessing Values

In [44]:
my_info['first_name']

'Derek'

In [45]:
my_info['last_name']

'Hawkins'

In [46]:
my_info['age']

33

## Exercise #1 - Print the eye color of each person in a double nested dict

In [47]:
our_info = {
    'Derek': {
        'city': 'Dallas',
        'state': 'TX',
        'eye color': 'brown'
    },
    'Lucas': {
        'city': 'Madison',
        'state': 'WS',
        'eye color': 'blue'
    } 
}

In [50]:
our_info['Derek']['eye color']

'brown'

In [51]:
our_info['Lucas']['eye color']

'blue'

##### Adding New Pairs

In [52]:
our_info['Derek']['occupation'] = 'Software Engineer'

In [54]:
our_info['Lucas']['occupation'] = 'Software Engineer'

In [55]:
our_info

{'Derek': {'city': 'Dallas',
  'state': 'TX',
  'eye color': 'brown',
  'occupation': 'Software Engineer'},
 'Lucas': {'city': 'Madison',
  'state': 'WS',
  'eye color': 'blue',
  'occupation': 'Software Engineer'}}

In [57]:
our_info['Ripal'] = {}

In [58]:
our_info

{'Derek': {'city': 'Dallas',
  'state': 'TX',
  'eye color': 'brown',
  'occupation': 'Software Engineer'},
 'Lucas': {'city': 'Madison',
  'state': 'WS',
  'eye color': 'blue',
  'occupation': 'Software Engineer'},
 'Ripal': {}}

In [60]:
our_info['Ripal']['inventory'] = ('potion', 'sword')

In [61]:
our_info

{'Derek': {'city': 'Dallas',
  'state': 'TX',
  'eye color': 'brown',
  'occupation': 'Software Engineer'},
 'Lucas': {'city': 'Madison',
  'state': 'WS',
  'eye color': 'blue',
  'occupation': 'Software Engineer'},
 'Ripal': {'inventory': ('potion', 'sword')}}

##### Modifying Values

In [63]:
our_info['Ripal']['inventory'][1] = 'Something Else'

TypeError: 'tuple' object does not support item assignment

In [64]:
our_info['Ripal']['inventory'] = ('Something Else', 'Another Thing Else')

In [65]:
our_info

{'Derek': {'city': 'Dallas',
  'state': 'TX',
  'eye color': 'brown',
  'occupation': 'Software Engineer'},
 'Lucas': {'city': 'Madison',
  'state': 'WS',
  'eye color': 'blue',
  'occupation': 'Software Engineer'},
 'Ripal': {'inventory': ('Something Else', 'Another Thing Else')}}

##### Removing Key, Value Pairs

In [70]:
# dir(dict)
our_info.pop('Ripal')

{'inventory': ('Something Else', 'Another Thing Else')}

In [71]:
our_info

{'Derek': {'city': 'Dallas',
  'state': 'TX',
  'eye color': 'brown',
  'occupation': 'Software Engineer'},
 'Lucas': {'city': 'Madison',
  'state': 'WS',
  'eye color': 'blue',
  'occupation': 'Software Engineer'}}

In [72]:
soon_to_be_non_empty_list = []
another_list = ['Derek', 'Lucas']

soon_to_be_non_empty_list.append(another_list.pop(1))

In [73]:
soon_to_be_non_empty_list

['Lucas']

In [74]:
another_list

['Derek']

In [89]:
del our_info['Derek']

KeyError: 'Derek'

In [88]:
our_info

{'Lucas': {'city': 'Madison',
  'state': 'WS',
  'eye color': 'blue',
  'occupation': 'Software Engineer'}}

##### Looping a Dictionary

In [75]:
for i in our_info:
    print(i)

Derek
Lucas

In [76]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [81]:
for i in our_info.items():
    print(i[0], i[1])

Derek {'city': 'Dallas', 'state': 'TX', 'eye color': 'brown', 'occupation': 'Software Engineer'}
Lucas {'city': 'Madison', 'state': 'WS', 'eye color': 'blue', 'occupation': 'Software Engineer'}

In [86]:
for qwe, asd in our_info.items():
    print(qwe, asd)

Derek {'city': 'Dallas', 'state': 'TX', 'eye color': 'brown', 'occupation': 'Software Engineer'}
Lucas {'city': 'Madison', 'state': 'WS', 'eye color': 'blue', 'occupation': 'Software Engineer'}

##### Looping Only Keys

In [78]:
for i in our_info.keys():
    print(i)

Derek
Lucas

##### Looping Only Values

In [77]:
for i in our_info.values():
    print(i)

{'city': 'Dallas', 'state': 'TX', 'eye color': 'brown', 'occupation': 'Software Engineer'}
{'city': 'Madison', 'state': 'WS', 'eye color': 'blue', 'occupation': 'Software Engineer'}

In [105]:
other_info = {
    1: {
        'first_name': 'Derek',
        'location': 'Chicago'
    },
    8: {
        'first_name': 'Ripal',
        'location': 'Chicago'
    },
    3: {
        'first_name': 'Joel',
        'location': 'Chicago'
    },
    4.0: {
        'first_name': 'Frank',
        'location': 'Chicago'
    },
}

In [106]:
other_info[4.0]

{'first_name': 'Frank', 'location': 'Chicago'}

## Exercise #2 - Create a Function that Prints All Key Value Pairs within a print statement .format()|f"{}"

In [107]:
for k, v in other_info.items():
    print(v['first_name'])
    print(v['location'], end='\n\n')

Derek
Chicago

Ripal
Chicago

Joel
Chicago

Frank
Chicago

##### sorted()

In [110]:
sorted(other_info.values())

TypeError: '<' not supported between instances of 'dict' and 'dict'

##### List with Dictionaries

In [113]:
for i in [{'location': 'Washington, D.C.'}, {'location': 'Miami'}, {'location': 'Timbuktu'}]:
    print(i['location'])

Washington, D.C.
Miami
Timbuktu

##### Dictionaries with Dictionaries

In [115]:
# done

##### Dictionaries with Lists

In [116]:
# done

## Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...

In [117]:
# Multiline print statement

In [122]:
print("""This is one line
This is another line
This is the third line""")

This is one line
This is another line
This is the third line

In [ ]:
from IPython.display import clear_output

def show_instructions():
    print("""Type 'add' to add new information to your blackbook.
Type 'quit' to exit program.
Type 'show' to list all people in your blackbook.""")

def blackbook():
    input('Welcome to PyBook! Press any key to continue. ')
    
    done = False
    info_list = []
    
    while not done:
        clear_output()
        
        show_instructions()
        choice = input('What is your choice? ').lower()
        
        if choice == 'add':
            first_name = input("Type in the person's first name. ").title()
            last_name = input("Type in the person's last name. ").title()
            city = input("Type in the person's city. ").title()
            state = input("Type in the person's state. ").upper()
            
            person_dictionary = {
                'first name': first_name,
                'last name': last_name,
                'city': city,
                'state': state 
            }
            info_list.append(person_dictionary)
        elif choice == 'show':
            for p in info_list:
                print(p)
            input('Press any key to continue. ')
        elif choice == 'quit':
            confirm_done = False
            while not confirm_done:
                clear_output()
                
                confirmation = input('Are you sure you want to quit? Y/N? ').lower()
                if confirmation == 'y':
                    confirm_done = True
                    done = True
                elif confirmation == 'n':
                    confirm_done = True
                else:
                    input('That command is not recognized. Please try again.')
        else:
            input('That command is not recognized. Please try again.')
        
    clear_output()
    print('Thank you for using PyBook. Goodbye!')
    
blackbook()

Type 'add' to add new information to your blackbook.
Type 'quit' to exit program.
Type 'show' to list all people in your blackbook.

## Set <br>
<p>A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [3]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 9, 8, 7, 6, 5}

In [4]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
# Remove all duplicates from a list

list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 9, 8, 7, 6, 5]

list(set(list_1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [13]:
help(set.discard)

Help on method_descriptor:

discard(...)
    Remove an element from a set if it is a member.

    If the element is not a member, do nothing.

##### .add()

In [11]:
set1.add(65)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 65}

In [17]:
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {5, 6, 7, 8, 9, 10}

##### .union()

In [18]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [23]:
set1 | set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

##### .intersection()

In [19]:
set1.intersection(set2)

{5, 6, 7}

In [24]:
set1 & set2

{5, 6, 7}

##### .difference()

In [20]:
set1.difference(set2)

{1, 2, 3, 4}

In [21]:
set2.difference(set1)

{8, 9, 10}

In [25]:
set1 - set2

{1, 2, 3, 4}

In [26]:
set2 - set1

{8, 9, 10}

##### .symmetric_difference()

In [22]:
set1.symmetric_difference(set2)

{1, 2, 3, 4, 8, 9, 10}

In [27]:
set1 ^ set2

{1, 2, 3, 4, 8, 9, 10}

##### .clear()

In [28]:
set1.clear()

In [29]:
set1

set()

In [30]:
set2

{5, 6, 7, 8, 9, 10}

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [31]:
f_set = frozenset({5, 6, 7, 8, 9, 10})

In [32]:
dir(f_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [ ]:
# Mutable
# lists
# dictionaries
# sets

# Immutable
# strings
# frozensets
# tuples

## Modules

##### Importing Entire Modules

In [2]:
# import random

In [10]:
my_list = [12, 65, 3, 78, 'Lucas']

random.choice(my_list)

78

In [11]:
my_other_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
random.shuffle(my_other_list)

In [12]:
my_other_list

[5, 6, 9, 3, 7, 1, 8, 4, 2]

##### Importing Methods Only

In [22]:
from random import choice

my_list = [12, 65, 3, 78, 'Lucas']

choice(my_list)

65

In [24]:
random.shuffle(my_other_list)

NameError: name 'random' is not defined

##### Using the 'as' Keyword

In [1]:
from IPython.display import clear_output as co

In [2]:
print('Something')
print('Else')

clear_output()

Something
Else

NameError: name 'clear_output' is not defined

In [8]:
print('Something')
print('Else')

co()

##### Creating a Module

In [1]:
# Create and import from a Jupyter Notebook file, SPECIFICALLY
%run './my_code.ipynb'

Thank you for using PyBook. Goodbye!

# Exercises

### 1) Build a Shopping Cart <br>
<p><b>Should have the following capabilities:</b><br><br>
1) Takes in input <br>
2) Stores user input into a list <br>
3) User can add or delete items from a list/set/dictionary (whatever you're most comfortable with) <br>
4) User can see current shopping list <br>
5) Loops until user 'quits' <br>
6) Upon quiting the program, print out all items in the user's list <br>
</p>

In [ ]:
# banana [2]
# orange [9]

In [ ]:
# {
#     'banana': 2,
#     'orange': 9
# }

In [ ]:
prompt = "\nEnter the type of groceries you would like to add in your shopping cart."
prompt += "\n(Enter 'quit' when you are finished.) "

cart = []

while True:
    user_input = input(prompt)
    if user_input == 'quit':
        break
    else:
        print("I will add " + user_input.lower() + " to your shopping cart!")
        cart.append(user_input)
        
    print("\nThe following groceries have been added to your cart:")
    for groceries in cart:
        print(groceries.title())

Enter the type of groceries you would like to add in your shopping cart.
(Enter 'quit' when you are finished.) chips
I will add chips to your shopping cart!

The following groceries have been added to your cart:
Chips

Enter the type of groceries you would like to add in your shopping cart.
(Enter 'quit' when you are finished.) soda
I will add soda to your shopping cart!

The following groceries have been added to your cart:
Chips
Soda


### 2) Create a Module in Visual Studio Code and Import It <br>
<p><b>Module should have the following capabilities:</b><br><br>
1) Has a function to calculate the square footage of a room <br>
2) Has a function to calculate the circumference of a circle <br><br>
<b>Program in Jupyter Notebook should take in user input and use imported functions to calculate a circle's circumference or a houses square footage</b>
</p>

##### **Note: When using functions in Python, arguments are passed in by reference, NOT value.

In [1]:
# Assignment in VS Code

side = int(input("Enter the side:"))
Area = side*side
print("Area of the square="+str(Area))

PI = 3.14
radius = float(input(' Please Enter the radius of a circle: '))

circumference = 2 * PI * radius

print(" Circumference Of a Circle = %.2f" %circumference)

Enter the side:3
Area of the square=9
 Please Enter the radius of a circle: 4
 Circumference Of a Circle = 25.12